@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-wrapper ::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("blitz-cup-server\client\src\assets\blitz.png");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.match-box {
  position: relative;
}

.match-box::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 16px;
  height: 2px;
  background-color: #4B5563;
}

.left-bracket .match-box::after {
  right: -16px;
}

.right-bracket .match-box::after {
  left: -16px;
}

.matches {
  position: relative;
}

.matches::after {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 25%;
  width: 2px;
  background-color: #4B5563;
}

.left-bracket .matches::after {
  right: -16px;
}

.right-bracket .matches::after {
  left: -16px;
}